@tailwind base;
@tailwind components;
@tailwind utilities;

i {
  font-size: x-large;
}

h1,
h2,
h3 {
  font-family: "Jost", "sans";
  font-weight: 600;
  font-style: italic;
}

p {
  font-family: "Jost", "sans";
  font-weight: 300;
}
