@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
}

i {
  font-size: x-large;
}

h1,
h2,
h3 {
  font-family: "Montserrat", "sans";
  font-weight: 600;
}

p {
  font-family: "Montserrat", "sans";
  font-weight: 300;
}

.glow-btn {
  padding: 10px 20px;
  border: none;
  font-size: 17px;
  color: #222120;
  border-radius: 7px;
  letter-spacing: 4px;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.5s;
  transition-property: box-shadow;
}

.glow-btn {
  background: #f9d47a;
  box-shadow: 0 0 5px #f9d47a;
}

.glow-btn:hover {
  box-shadow: 0 0 5px #f9d47a, 0 0 5px rgba(0, 140, 255, 07), 0 0 15px #f9d47a,
    0 0 25px #f9d47a;
}

.hide {
  opacity: 0;
}

.show {
  opacity: 1;
}

.glass {
  background: rgba(66, 66, 66, 0.7);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(11.7px);
}

#heading {
  background: linear-gradient(90deg, #222120 0%, #f9d47a 50%, #222120 99%);
  background-size: 300% auto;

  color: #000;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: shine 20s linear infinite;
}

@keyframes shine {
  to {
    background-position: -300% center;
  }
}
